@import "./mixins/mixins";
@import "./mixins/variables";

body {
  background-color: rgba($blue, 0.3);
}

.homeImagesContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    height: 90vh;
  }

  .imgPlacerMobile {
    width: 90%;
    height: 100%;

    @include phone-to-tablet {
      width: 70%;
    }
    @include tablet {
      display: none;
    }

    .mobileHomeImage {
      width: 100%;
      height: 100%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      background-image: url(".././assets/dashl-beauty-bar-karlaplan-1583228385207.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .imgPlacerDesktop {
    width: 90%;
    height: 100%;
    display: none;

    @include tablet {
      display: block;
      display: flex;
      justify-content: center;
    }

    .firstHomeImg {
      @include tablet {
        width: 400px;
        height: 500px;
        background-image: url(".././assets/dashl-beauty-bar-karlaplan-1583228385207.png");
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 60%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 60%;
      }

      .secondHomeImg {
        @include tablet {
          display: block;
          width: 300px;
          height: 400px;
          position: absolute;
          right: 65%;
          top: 300px;
          border-top-left-radius: 60%;
          border-top-right-radius: 60%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          background-image: url(".././assets/11.jpeg");
          background-repeat: no-repeat;
          background-position: 50% 30%;
        }
      }

      .thirdHomeImg {
        @include tablet {
          display: block;
          width: 300px;
          height: 400px;
          background-image: url(".././assets/17.jpeg");
          background-position: 50% 30%;
          border-top-left-radius: 60%;
          border-top-right-radius: 60%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          position: absolute;
          left: 65%;
          top: 300px;
        }
      }
    }
  }
}

.addsContainer {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .addsPlacer {
    @include tablet {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      img {
        border-radius: 50%;

        width: 100%;
        height: 100%;
      }
    }
  }
}
